@charset "utf-8";

a:link {
  color: #B0C2C4;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
}

a:visited {
  color: #B07477;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  font-size: 15px;
}

a:active {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: underline;
  font-size: 15px;
}

</style>